# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
ENV/
.env/

# Database
db.sqlite3

# Django
*.log
/staticfiles/
/media/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# macOS
.DS_Store
